.librus-plus-input-panel {
    text-align: center;
    padding: 10px;
    background: #151515;
    border: 10px solid gold;
    color: #e4e4e4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}

.librus-plus-input-panel__header {
    font-size: 28px;
    margin: 0 !important;
}

.librus-plus-input-panel__disclaimer {
    text-align: center;
    font-size: 12px;
}

.flex-center {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid gold;
    margin-bottom: 10px;
}

.librus-plus-input-panel__date-picker {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.librus-plus-subject-box {
    margin: 5px;
    padding: 5px;
    flex-basis: calc(25% - 20px);
    flex-direction: column;
    background: #404040;
}

.librus-plus-subject-box__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.librus-plus-subject-box__frequency {
    text-shadow: 0 0 2px black;
    padding: 5px;
    margin: 5px;
}

.librus-plus-subject-box__frequency_excellent {
    background: #009000;
}

.librus-plus-subject-box__frequency_good {
    background: #00655b;
}

.librus-plus-subject-box__frequency_questionable {
    background: #ad9000;
}

.librus-plus-subject-box__frequency_bad {
    background: #b70800;
}

.librus-plus-subject-box__frequency_old {
    opacity: 0.3;
}




.librus-plus-grade-box {
    background-color: black;
    color: white;
    border: 8px solid gold;
}

.librus-plus-ocena {
    color: white !important;
    font-weight: bold;
}